.header{
    background-color: #196dc2;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #e0e0e0;
}

.tienda-fondo{
    background-image: url('../images/Fondo_Tienda.png');
    background-attachment: scroll;
    background-size: cover;
    
}
.contet-wrapper{
    flex:1;
    padding-top: 70px; /* Ajusta según altura de tu navbar */
    padding-bottom: 70px; /* Ajusta según altura de tu footer */
    width: 100%;
}
/* Footer fijo */
.footer {
  background-color: #146c43;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
  padding: 15px 0;
  color: white;
}
.footer p {
  margin: 0;
}
/* Reset básico */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
